.site-topbar {
  height: 40px;
  background-color: #333;
  font-size: 12px;
  line-height: 40px;
}
.site-topbar a {
  color: #b0b0b0;
}
.site-topbar .barnav > ul > li {
  float: left;
  margin-right: 15px;
}
.site-topbar .barinfo {
  float: right;
}
.site-topbar .barinfo a {
  margin-right: 13px;
}
.site-topbar .barnav > ul > li a:hover,
.site-topbar .barinfo > a:hover {
  color: #fff;
}
/* 购物车 */
.site-topbar .cart {
  float: right;
}
.site-topbar .cart  .mini {
  display: block;
  background-color: #424242;
  padding: 0 24px;
}
.site-topbar .cart  .mini em {
  margin-right: 4px;
  vertical-align: -1px;
  font-size: 16px;
} 
/* topbar中的a hover效果 */
.site-topbar .barnav > ul > li a:hover,
.site-topbar .barinfo > a:hover{
  color: #fff;
}

.site-topbar .barnav > ul > li.submenu {
  position: relative;
  padding-right: 14px;
}
/* 添加箭头 */
.site-topbar .barnav > ul > li.submenu::after {
 position: absolute;
  top: 50%;
  right: 0;
  display: block;
  content: '';
  width: 5px;
  height: 5px;
  border-right: 1px solid #B0B0B0;
  border-bottom: 1px solid #B0B0B0;
  transform:  translateY(-4px) rotate(45deg);
  transition:  transform .2s ease 0s;
}
/* 箭头旋转 */
.site-topbar .barnav > ul > li.submenu:hover::after{
  border-color: #fff;
  transform: translateY(0) rotate(225deg);
}

/* 实心三角形 */
.site-topbar .barnav > ul >li.active::before{
 position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 0;
  margin-left: -3px;
  border: 6px solid transparent;
  border-bottom-color: #fff;
  display: none;
}
.site-topbar .barnav > ul > li.active:hover::before{
  display: block;
}
/* 云服务   */
/* menulist */

.site-topbar .barnav > ul > li.submenu .menulist {
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -52.5px;
  width: 105px;
  background-color: #fff;
  box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.3);
  height: 0;
  overflow: hidden;
  transition: height .2s;
}
.site-topbar .barnav > ul > li.submenu:hover .menulist {
  height: 180px;
}
.site-topbar .menulist > ul > li a img {
  margin: 0 3px 0 6px;
  vertical-align: -1px;
}
.site-topbar .menulist > ul > li a:hover {
    color: #ff6a00;
}
.site-topbar .barnav .menulist > ul > li {
  line-height: 35px;
}
.site-topbar .barnav > ul > li.submenu .menulist ul > li > a em {
  margin: 0 3px 0 6px;
}
/* 下载APP */

.site-topbar .barnav > ul > li.submenu .download {
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -62px;
  width: 124px;
  background-color: #fff;
  box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.3);
  text-align: center;
  line-height: 1;
  color: #333;
  font-size: 14px;
  height: 0;
  overflow: hidden;
  transition: all .2s;
}
.site-topbar .barnav > ul > li.submenu .download > img {
  display: block;
  margin: 17px auto 16px;
}
.site-topbar .barnav > ul > li.submenu:hover .download {
  height: 148px;
}

/* 头部 */
.site-header .logo {
  float: left;
  margin-top: 23px;
}
.site-header .logo a:active img {
  transform: scale(0.6);
}
.site-header .headernav {
  float: left;
}

.site-header .headersearch {
  width: 297px;
  float: right;
  margin-top: 25px;
  background-color: #ff6a00;
}
.site-header .headersearch .searchtxt {
  width: 245px;
  height: 50px;
  border: 1px solid #e0e0e0;
  border-right: none;
  color: #333;
  font-size: 14px;
  line-height: 50px;
  padding: 0 11px;
  box-sizing: border-box;
  float: left;
}
.site-header .headersearch .searchbtn {
  display: block;
  width: 52px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  float: left;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
}
.site-header .headersearch .searchbtn:hover {
  background-color: #ff6a00;
  color: #fff;
  border-color: #ff6a00;
}
.site-header .headersearch:hover .searchbtn,
.site-header .headersearch:hover .searchtxt {
  border-color: #ff6a00;
}

.site-header .headernav .navlist{
  margin-left: 194px;
}
.site-header .headernav .navlist > li {
  float: left;
  padding: 38px 10px;
}
.site-header .headernav .navlist > li > a{
  color: #333;
  font-size: 16px;
}
.site-header .headernav .navlist > li > a:hover {
  color: #ff6a00;
}